@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <body style=" background-color: #eef4f7c">
        <div class="login-clean" style="margin-top: 20px; ">
            <a onclick="javascript:history.back(); return false;" class="forgot" style="color: #007bff">Назад</a>

            <form method="post" style="max-width: 600px; background-color: #eef4f7c">
                <h1 style="        position: center;
        text-align: center;
        margin: 10px">О нас</h1>
                <p style="text-align: center;">Частенько мы встречались с проблемой, когда забывали рецепт какого-то шикарного блюда 
                или просто не помнили, куда положили записку с ним. 
                Наш электронная "CookTime" книга поможет тебе сохранить все рецепты, которые ты только сможешь
                 найти или придумать. Все самое нужное окажется у тебя под рукой! Просто запиши свои кулинарные мысли 
                и твори чудеса!</p>


            </form>
        </div>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>