@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style=" background-color: #eef4f7c">
    <div class="login-clean" style="margin-top: 20px; ">
        <a onclick="javascript:history.back(); return false;" class="forgot" style="color: #007bff">Назад</a>
        <h1 style="        position: center;
        text-align: center;
        margin: 10px">
            Вопросы и ответы
        </h1>
        <div style="margin:auto">


            <div class="shadow">
                <h2 style="        position: center;
        text-align: center;
        margin: 10px">
                    Видео-туториал
                </h2>
                <video style="margin: auto; width:680px; height: auto" controls="controls">
                    <source src="~/assets/img/tutorial.mp4" />
                </video>
            </div>

            <div class="shadow">
                <h2 style="        position: center;
        text-align: center;
        margin: 10px">
                    Регистрация и вход
                </h2>
                <p style="text-align: center;">
                    Для регистрации необходимо нажать кнопку "Регистрация" в правом верхнем углу страницы.
                    При регистрации указать почту (такую, чтобы не была зарегестрирована ранее) и пароль, повторив его два раза.
                    Для входа в свою учетную запись необходимо ввести правильную почту и пароль.
                </p>
            </div>
            <div class="shadow">
                <h2 style="        position: center;
        text-align: center;
        margin: 10px">
                    Добавление рецепта
                </h2>
                <p style="text-align: center;">
                    После авторизации на главной странице с рецептами вы можете добавить рецепт, нажав на
                     круглую кнопку со значком "+" в правом нижнем углу экрана. После этого вы окажетесь на
                     странице, где необходимо ввести все необходимые данные.
                </p>
            </div>
            <div class="shadow">
                <h2 style="        position: center;
        text-align: center;
        margin: 10px">
                    Редактирование рецепта
                </h2>
                <p style="text-align: center;">
                    Рецепт можно отредактировать находясь как на главной странице (для этого на плиточках с
                    короткой информацией есть кнопка "Редактировать"), так и на странице детального просмотра
                    рецепта, нажав на кнопку со значком " 📝" в правом нижнем углу экрана.
                </p>
            </div>
            <div class="shadow">
                <h2 style="        position: center;
        text-align: center;
        margin: 10px">
                    Просмотр рецептов. Фильтрация
                </h2>
                <p style="text-align: center;">
                    Просмотреть краткое содержание всех рецептов вы можете на главной странице приложение. 
                    Так же на ней можно фильтровать данные: с помощью поля со списком можно выбрать тип блюда, 
                    а с помощью поля для ввода вы можете определить название блюда. 
                    Для детального просмотра рецепта необходимо нажать кнопку "Приготовить!" на плиточке с рецептом.
                </p>
            </div>
            <div class="shadow">
                <h2 style="        position: center;
        text-align: center;
        margin: 10px">
                    Удаление рецепта
                </h2>
                <p style="text-align: center;">
                    Удалить рецепт можно при просмотре краткой информации на главной странице (для этого есть кнопка "Удалить"),
                    а так же при редактировании и детальном просмотре рецепта, нажав на кнопку со значком "🗑" в правом 
                    нижнем углу экрана.
                </p>
            </div>

        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <style>
         .shadow {
    background: #eef4f7c; /* Цвет фона */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 10px;
    border-radius: 20px;
    width: 700px;
    margin: auto;
   }
    </style>
</body>
