@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<body>
    <div class="login-clean" style="margin-top: 20px">
        <a onclick="javascript:history.back(); return false;" class="forgot" style="color: #007bff">Назад</a>

        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-navigate" style="        border-color: rgb(0,123,255);
        color: rgb(0,123,255);"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><input class="form-control" type="password" name="password_rep" placeholder="Repeat Password"></div>
            <div class="form-group d-xl-flex justify-content-xl-center align-items-xl-center">

                <button class="btn btn-primary" role="button" style="background: rgb(5,90,218);margin: 5px; width: 300px">Зарегистрироваться</button>
            </div>
            <label class="forgot" style="color: crimson">@ViewBag.Mes</label>

            @Html.ActionLink("У Вас уже есть аккаунт? Войдите в него!", "SignIn", "Home",
           new { area = "" }, new { @class = "forgot" })
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>